<div class="person">
  {{#if showChoiceImages}}
    <h3>Who is <span class='person-name'>{{name}}</span>?</h3>
  {{else}}
    <h3>Who is this?</h3>
    <img class="photo" src="{{photo}}" />
  {{/if}}

  <div class="answer">
    {{#if showChoiceButtons}}
      {{#each choices}}
        <button class="choice">{{name}}</button>
      {{/each}}
    {{/if}}
    {{#if showTypeahead}}
      <input class="typeahead" placeholder="Who is it?" autofocus>
    {{/if}}
    {{#if showTextInput}}
      <input class='form-control' placeholder="Who is it?" autofocus>
    {{/if}}
    {{#if showChoiceImages}}
      <div class="choice-images">
        {{#each choices}}
          <img src="{{photo}}" data-name="{{name}}">
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
