<h2>Saved Lists:</h2>
<ul>
{{#each savedGroups}}
  <li>
    <a href="#" class='start-with-saved' data-name="{{name}}">{{name}}</a>: {{count}} items including {{sample}} <button class="clear-saved" data-name="{{name}}">Delete</button>
  </li>
{{/each}}
</ul>
<button class="btn btn-primary clear-saved">Clear Saved Lists</button>