<h2>Saved Lists:</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Sample</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
{{#each savedGroups}}
  <tr>
    <td>{{count}}</td>
    <td><a href="#" class='start-with-saved' data-name="{{name}}">{{name}}</a></td>
    <td>{{sample}}</td>
    <td><button class="btn btn-danger clear-saved" data-name="{{name}}">Delete</button></td>
  </tr>
{{/each}}
  </tbody>
</table>
<button class="btn btn-primary clear-saved">Clear Saved Lists</button>